/jOGO DA VELHA/JogoDaVelha/nbproject/private/
/jOGO DA VELHA/JogoDaVelha/build/
/Estrutura de dados/FilasemJava/nbproject/private/
/Estrutura de dados/FilasemJava/build/
/Estrutura de dados/EncontrandoUmaVariavel/nbproject/private/
/Estrutura de dados/EncontrandoUmaVariavel/build/
/Estrutura de dados/EstruturaDeDadosVAriavel/nbproject/private/
/Estrutura de dados/EstruturaDeDadosVAriavel/build/
/Estrutura de dados/Pilhas em JAva/Exercicio04/nbproject/private/
/Estrutura de dados/Pilhas em JAva/Exercicio04/build/
/Estrutura de dados/testes/teste/nbproject/private/
