/jOGO DA VELHA/JogoDaVelha/nbproject/private/
/jOGO DA VELHA/JogoDaVelha/build/
/Estrutura de dados/FilasemJava/nbproject/private/
/Estrutura de dados/FilasemJava/build/
/Estrutura de dados/EncontrandoUmaVariavel/nbproject/private/
/Estrutura de dados/EncontrandoUmaVariavel/build/
/Estrutura de dados/EstruturaDeDadosVAriavel/nbproject/private/
/Estrutura de dados/EstruturaDeDadosVAriavel/build/
/Estrutura de dados/Pilhas em JAva/Exercicio04/nbproject/private/
/Estrutura de dados/Pilhas em JAva/Exercicio04/build/
/Estrutura de dados/testes/teste/nbproject/private/
/Estruturas Condicionais/EstruturaCondicional/nbproject/private/
/Estruturas Condicionais/EstruturaCondicional/build/
/Estruturas Condicionais/CondicionaalComposta/nbproject/private/
/Estruturas Condicionais/CondicionaalComposta/build/
/Estruturas Condicionais/EquacaoSegundoGrau/nbproject/private/
/Estruturas Condicionais/EquacaoSegundoGrau/build/
/Estruturas Condicionais/CondicionalComposta2/composta2/votacao/nbproject/private/
/Estruturas Condicionais/CondicionalComposta2/composta2/votacao/build/
/Estruturas Condicionais/CondicionalComposta2/composta2/ProgramaPernas/nbproject/private/
/Estruturas Condicionais/CondicionalComposta2/composta2/ProgramaPernas/build/
/Exercícios/ExercicioVetor/nbproject/private/
/Exercícios/ExercicioVetor/build/
/Exercícios/DiagnosticoCovid/nbproject/private/
/Exercícios/DiagnosticoSarsCov2/nbproject/private/
/Exercícios/ProjetoCovidDiagnostico/nbproject/private/
/Exercícios/ProjetoCovidDiagnostico/build/
/Exercícios/ProjetoCovid19/nbproject/private/
/Exercícios/ProjetoCovid19/build/
/Exercícios/ProjetoCovid/nbproject/private/
/Exercícios/ProjetoCovid/build/
/Exercícios/ProjetoSarsCov1.2/nbproject/private/
/Exercícios/ProjetoSarsCov1.2/build/
/Exercícios/ProjetoSarsCov1.2/dist/
